In [4]:
import pandas as pd
from datetime import *
import numpy as np
import glob

In [17]:
def group_and_stage(fileName):
    df = pd.read_csv(fileName)
    df = df.drop_duplicates(["itemid","property","value"] , keep='first')
    df.to_csv("stage_"+fileName, index=False)
    
def group_and_store(fileNames):
    li = []
    for fileName in fileNames:
        df = pd.read_csv(fileName, index_col=None, header=0)
        li.append(df)
    df = pd.concat(li, axis=0, ignore_index=True)
    df = df.drop_duplicates(["itemid","property","value"] , keep='first')
    df.to_csv("out_item_properties.csv", index=False)

In [8]:
allCsvs = glob.glob("*.csv")
itemPropertiesStartStr = "item_properties_part"
itemPropertiesFiles = list(filter(lambda x: x.startswith(itemPropertiesStartStr), allCsvs))

In [9]:
for itemPropertiesFile in itemPropertiesFiles:
    group_and_stage(itemPropertiesFile)

10999999
7042064
9275903
5958844

In [18]:
allCsvs = glob.glob("*.csv")
stageFiles = list(filter(lambda x: x.startswith("stage"), allCsvs))
group_and_store(stageFiles)

13000908
12778737

In [3]:
# start = datetime.now()
# print(start, " : Start ...\n")
# ########################################################
# group_and_stage('item_properties_part1.csv')
# ########################################################
# print()
# end = datetime.now()
# print(end, " : End.")
# print("Execution Time : ", (end - start))

2022-06-12 01:01:32.705356  : Start ...

10999999
7042064

2022-06-12 01:02:44.376531  : End.
Execution Time :  0:01:11.671175

In [33]:
items1  = pd.read_csv('item_properties_part2.csv', usecols=["timestamp"])

In [31]:
items1.drop_duplicates(inplace=True)

In [32]:
pd.to_datetime(items1['timestamp'],unit='ms').sort_values().reset_index()

    index           timestamp
0      15 2015-05-10 03:00:00
1       3 2015-05-17 03:00:00
2      12 2015-05-24 03:00:00
3       0 2015-05-31 03:00:00
4      44 2015-06-07 03:00:00
5      74 2015-06-14 03:00:00
6       2 2015-06-28 03:00:00
7      75 2015-07-05 03:00:00
8      32 2015-07-12 03:00:00
9      52 2015-07-19 03:00:00
10      7 2015-07-26 03:00:00
11      6 2015-08-02 03:00:00
12      8 2015-08-09 03:00:00
13      1 2015-08-16 03:00:00
14     40 2015-08-23 03:00:00
15    126 2015-08-30 03:00:00
16     28 2015-09-06 03:00:00
17     78 2015-09-13 03:00:00

In [5]:
#categoryids = items1[items1.property =="categoryid"].value.tolist()

In [8]:
np.unique(categoryids)

array(['0', '1', '10', ..., '997', '998', '999'], dtype='<U4')

In [3]:
df = items1.sort_values(['timestamp'])groupby(["itemid","property","value"]).first().reset_index()
df.to_csv("res.csv", index=False)
del items1

In [4]:
dff = pd.read_csv('res.csv')

In [5]:
iter_csv = pd.read_csv('res.csv', chunksize=100000)
res = pd.concat([chunk[chunk['itemid'] == 264312] for chunk in iter_csv])

In [6]:
res

         itemid    property                             value      timestamp
3986303  264312         159                            519769  1431226800000
3986304  264312         202              990678 265586 141325  1439694000000
3986305  264312         227                            319724  1431831600000
3986306  264312           6                            319724  1431831600000
3986307  264312         678                            367680  1431226800000
3986308  264312         790                        n29040.000  1435460400000
3986309  264312         839                            367680  1432436400000
3986310  264312         888              990678 265586 141325  1433646000000
3986311  264312         888       990678 265586 141325 367680  1440903600000
3986312  264312         888  990678 265586 141325 59972 86628  1441508400000
3986313  264312  categoryid                              1558  1431226800000

In [18]:
#!/usr/bin/env python
# coding: utf-8

# In[12]:


import pandas as pd
from datetime import *
from anytree import Node, RenderTree
from collections import defaultdict


# In[53]:


items1  = pd.read_csv('category_tree.csv' , dtype={"parentid":str,"categoryid":str})


# In[54]:


main_roots = items1[items1.parentid.isna()].categoryid.tolist()
items1 = items1[(items1.parentid.notna())]


# In[55]:


parent_child_dict = defaultdict(list)
for index,row in items1.iterrows():
        parent_child_dict[row['parentid']].append(row['categoryid'])


# In[61]:


def traverse1 (document , node):
    for child in parent_child_dict[document]:
        traverse1(child , Node(child , parent=node))


# In[62]:


prim = Node('root')
for i in main_roots:
    traverse1(i, Node(i, parent=prim))


# In[63]:


# for pre, fill, node in RenderTree(prim):
#     print("%s%s" % (pre, node.name))


# In[67]:


reduced_d = [k for k, v in parent_child_dict.items() if len(v) == 0]


# In[68]:


#reduced_d

In [19]:
#reduced_d

In [20]:
#set(categoryids)-set(reduced_d)

In [6]:
items1  = pd.read_csv('events.csv')

In [24]:
items = items1[items1.event == "transaction"]
items.to_csv("transaction.csv", index=False)

In [10]:
items1.columns

Index(['timestamp', 'visitorid', 'event', 'itemid', 'transactionid'], dtype='object')

In [20]:
items1.event.unique()

array(['view', 'addtocart', 'transaction'], dtype=object)

In [28]:
len(items.transactionid.unique())

17672

In [29]:
len(items.visitorid.unique())

11719

In [43]:
items.groupby('visitorid')['transactionid'].nunique()

visitorid
172        1
186        1
264        1
419        1
539        1
          ..
1406787    1
1406981    1
1407070    1
1407110    1
1407398    1
Name: transactionid, Length: 11719, dtype: int64